@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about -->
<div class="about w3-agileits">
    <div class="container">
        <div class="info">
            <div class="col-md-6 about-left">
                <h3 class="agileits-title">Welcome to <span>Family GO!</span></h3>
            </div>
            <div class="col-md-6 about-right agileits-w3layoutsleft">
                <h4>Make it easier for your children live better in Australia </h4>
                <!--
                    
                <p> Parents have busy schedual and do not have enough time to spend with their child.</p>
                    
                -->
                <ul>
                    <li><span class="glyphicon glyphicon-share-alt"></span> <a href="@Url.Action("Index","Activities")" style="color:#fff">Find activities you can play with your child </a></li>
                    <li><span class="glyphicon glyphicon-share-alt"></span> <a href="@Url.Action("Index","Education")"style="color:#fff">Find schools for your child</a></li>
                    <li><span class="glyphicon glyphicon-share-alt"></span> <a style="color:gray">Coming popular events</a> </li>
                </ul>
            </div>
        </div>      
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //about -->
<!-- news -->
<div class="news w3-agileits">
    <div class="container newsforchild">
        <h3 class="agileits-title1">News about Children Settlement </h3>
        <div class="news-agileinfo">
            <div class="col-md-6 news-w3left">
                <h6><a href="https://www.sbs.com.au/news/comment-gentrification-is-dividing-australian-schools" style="color:black; font-family:Georgia" data-toggle="modal"> Gentrification is dividing Australian schools </a></h6>
                <p>Jan. 21, 2016</p>
                <p> Gentrification is transforming communities all over the world - the movement of middle-class, predominantly white people into a poor, non-white area.</p>
                <a href="https://www.sbs.com.au/news/comment-gentrification-is-dividing-australian-schools" class="agilebtn" data-toggle="modal" data-target="#myModal"><span>Read More</span></a>
            </div>
            <div class="col-md-6 news-w3right">
                <img src="~/Image/new1.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="news-agileinfo btm-newsrow w3-agileits">
            <div class="col-md-6 news-w3left news-w3left1">
                <h6><a href="https://www.sbs.com.au/yourlanguage/cantonese/en/article/2019/02/07/settlement-guide-how-get-involved-your-childrens-school" style="color:black; font-family:Georgia">How to get involved in your children's school?</a></h6>
                <p>Feb. 2, 2019</p>
                <p>Getting involved in your children’s school will have a positive effect on their grades and wellbeing. We look at where to start.</p>
                <a href="https://www.sbs.com.au/yourlanguage/cantonese/en/article/2019/02/07/settlement-guide-how-get-involved-your-childrens-school" class="agilebtn" ><span>Read More</span></a>
            </div>
            <div class="col-md-6 news-w3right news-w3right1">
                <img src="~/Image/new2.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //news -->

<link href="~/Content/flexslider.css" rel="stylesheet" />